# IDE files
.idea
.code
isd.iml

# macos files
.DS_Store

# parser binary (can be built from source)
bin/isdd
bin/isdh
bin/isd_darwin-amd64.tar.gz
bin/isd_linux-amd64.tar.gz
bin/isd.tar.gz
bin/release


# data files (can be downloaded via Internet)
data/daily/*.csv.gz
data/daily/*.tar.gz
data/hourly/*.tar.gz
data/meta/isd_history.csv.gz
data/meta/isd_station.csv.gz
